@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Lightgray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
}

.card{
    width: 350px;
    background-color: var(--White);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:5px ;
    box-shadow:-2px 10px 24px -11px rgba(0,0,0,0.62);
    margin: 10px;
    
}

.container{
    width: 90%;
    padding: 10px;

}

img{
    width: 100%;
    border-radius:15px;
}

h1{
    
    font-size: 1.5rem;
    color: var(--Darkblue);
    margin: 5px;
}

p{
    color: var(--Grayishblue);
    font-size: 1.2rem;
    margin: 5px;
    
}
